  body {
    margin: 0;
    padding: 0;
    background-color: #383838;
  }

  .container
  {
      padding: 0 20%;
  }

  .center
  {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-container {
    height: 70px;
    width: 100%;
    padding: 0;
    background-color: #fff;
  }
  
  .nav-bar {
      padding: 0 20%;
  }
  
  .name {
    float: left;
    height: 100%;
    font-weight: 500;
    font-size: 30px;
    color: #777;
    text-decoration: none;
    margin: 0 auto;
    height: 70px;
  }

  #nav-item {
    float: right;
    margin: 0 auto;
    height: 70px;
    color: #777;
  }
  
  .nav-bar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    float: left;
  }
  
  .nav-bar li {
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .nav-bar li a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }

  .nav-bar li a:active {
    color: #28A7E9;
  }
  .nav-bar li a.current { 
	color: #28A7E9; 
}

#home
{
    background: url('../image/banner.jpg') no-repeat;
    background-size: cover;
    padding-top: 160px;
    padding-bottom: 100px;
    min-height: 400px;
}

#home h1
{
    font-weight: 300;
    font-size: 70px;
    color: #28a7e9;
    font-weight: bold;
}
#home h2
{
    color: #fff;
}
#home span
{
    color: #fff;
}

#copyright {
    height: 70px;
    width: 100%;
    padding: 0;
  }